* {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    color: rgb(78, 77, 77);
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: .02fr .5fr .02fr;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    gap: .5rem;
}

header {
    text-align: center;
}

main {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

form {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: .5rem;
}

.totals {
 display: grid;
 grid-template-columns: repeat(2,1fr);
 justify-content: center;
 align-items: center;
 gap: 1rem;
 text-align: left;
}

.tip, .total {
    text-align: right;
}

.total {
    font-weight: bold;
}

footer {
  text-align: center;
}


/* COLOR & STYLING */

main {
    border: 1px solid gray;
    box-shadow: 2px 2px 15px rgb(221, 220, 217);
    border-radius: 16px;
    background-color: whitesmoke;
    
}

input, select {
    border: 1px solid gray;
    border-radius: 4px;
    height: 2rem;
    font-size: 1.2rem;
    width: 15rem;
    background-color: white;
}

.submit {
    width: 12rem;
    height: 2.3rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: white;
    margin-top: .8rem;
}

.submit:hover {
    background-color: rgb(184, 177, 177);
    color:rgb(63, 63, 63)
}

a {
    color: rgb(40, 40, 180);
    text-decoration: none;
}

a:hover {
    color: orangered;
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        
        main {
            margin-bottom: 100px;
        }
    }